header li {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    transition: opacity 1s;
}

header li:active {
    color: #61a0d8;
}

header menu {
    margin: 0;
}

header {
    border-bottom: 1px solid #ebebeb;
    background: white;
    position: relative;
    background: rgba(255, 255, 255, 0.86);
    z-index: 2;
    top: 0;
    width: 100%;
    display: block;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    user-select: none;
}

.explorer-path,
.search {
    position: absolute;
    right: 30%;
    top: 29%;
    display: inline-block;
    width: 14%;
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 6px;
    transition: width 0.5s ease-out 0.1s;
    height: 46%;
}

.search {
    left: 72%;
}

.explorer-path.active {
    width: 70%;
    border: 1px solid #419acc;
}

.search.active {
    width: 28%;
    border: 1px solid #419acc;
}

.search input,
.explorer-path input {
    width: 100%;
    border: 0;
}

input:focus {
    outline-color: transparent !important;
}@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
.modal-wrap {
    display: block;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.44);
}
#modal-custom {
    display: block;
    top: 50%;
    margin: 0 auto;
    width: 350px;
    height: 151px;
    position: relative;
    background: white;
    border: 1px solid rgba(58, 58, 58, 0.29);
    border-radius: 6px;
}*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
}
.explorer {
  min-width: 930px;
}
body {
  margin: 0 10px;
  height: 100%;
  color: #595959;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.center-page {
  text-align: center;
  position: relative;
  display: block;
  opacity: 0.5;
  top: 50vh;
}
.one-file {
  display: inline-block;
  width: 100px;
  height: 110px;
  margin: 11px;
  border: 1px solid rgba(202, 202, 202, 0.37);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.one-file:hover {
  background: rgba(55, 153, 202, 0.24);
  border: 1px solid rgba(202, 202, 202, 0.01);
}
.event-layer.selected-file {
  border: 1px solid rgba(55, 153, 202, 0.41);
}
.title {
  margin: 2% 9%;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.event-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* formats */
.icon {
  width: 70%;
  height: 70%;
  margin-left: 15%;
  margin-top: 5%;
  background: url("../img/default.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.drive {
  background: url("../img/drive.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.zip {
  background: url("../img/zip.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.doc,
.docx {
  background: url("../img/doc.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.js {
  background: url("../img/js.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.html,
.htm {
  background: url("../img/html.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.css {
  background: url("../img/css.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.pdf {
  background: url("../img/pdf.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.txt {
  background: url("../img/txt.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.sys {
  background: url("../img/sys.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.rar {
  background: url("../img/rar.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.ini {
  background: url("../img/ini.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.directory {
  background: url("../img/folder.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}
.png,
.gif,
.bmp,
.jpg,
.JPG {
  background: url("../img/png-35.png") no-repeat;
  background-size: 100% auto;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map*/